<%= content_for(:title) { "Pesanan ##{ @order.id } | #{ Current.settings["site_name"] } admin" } %>

<div>
  <%= tag.div flash[:notice], class: "flash-success mb-4" if flash[:notice] %>

  <h1>
    Pesanan #<%= @order.id %>
    <%= link_to "Edit", edit_admin_order_path(@order), class: "inline-block ml-2 text-sm font-normal" %>
    <%= link_to "Delete", admin_order_path(@order), data: { turbo_method: :delete, turbo_confirm: "Hapus pesanan ini?" }, class: "text-sm text-red font-normal" %>
  </h1>

  <div class="full-width overflow-x-scroll">
    <table>
      <tr>
        <td class="min-w-max"><strong>Order ID</strong></td>
        <td><%= @order.order_id %></td>
      </tr>
      <tr>
        <td class="min-w-max"><strong>Nama Customer</strong></td>
        <td><%= @order.customer_name %></td>
      </tr>
      <tr>
        <td class="min-w-max"><strong>Email Customer</strong></td>
        <td><%= @order.customer_email_address %></td>
      </tr>
       <tr>
         <td class="min-w-max"><strong>Status</strong></td>
         <td class="min-w-max"><%= @order.state %></td>
       </tr>
      <% if @order.contains_physical_products? %>
        <tr>
          <td class="min-w-max"><strong>Nomor HP</strong></td>
          <td><%= @order.customer_phone || "-" %></td>
        </tr>
        <tr>
          <td class="min-w-max"><strong>Kurir</strong></td>
          <td><%= "#{@order.shipping_provider&.upcase} - #{@order.shipping_method}" %></td>
        </tr>
        <tr>
          <td class="min-w-max"><strong>Biaya Kirim</strong></td>
          <td><%= idr @order.shipping_cost || 0 %></td>
        </tr>
        <tr>
          <td class="min-w-max"><strong>Alamat Pengiriman</strong></td>
          <td><%= @order.address_line %></td>
        </tr>
         <tr>
           <td class="min-w-max"><strong>Area</strong></td>
           <td>
             <%= [@order.shipping_subdistrict&.name, @order.shipping_district&.name, @order.shipping_city&.name, @order.shipping_province&.name].compact.join(", ") %>
           </td>
         </tr>
         <tr>
           <td class="min-w-max"><strong>Nomor Resi</strong></td>
           <td><%= @order.tracking_number || "Belum tersedia" %></td>
         </tr>
      <% end %>
      <% if Current.settings["payment_provider"] == "manual" %>
        <tr>
          <td class="min-w-max"><strong>Keterangan</strong></td>
          <td class="min-w-max"><%= @order.remark %></td>
        </tr>
      <% end %>
      <tr>
        <td class="min-w-max"><strong>Status Diperbarui pada</strong></td>
        <td><%= l @order.state_updated_at, format: :long %></td>
      </tr>
      <tr>
        <td class="min-w-max"><strong>Total Harga</strong></td>
        <td><%= idr @order.total_price %></td>
      </tr>
      <% if Current.settings["payment_provider"] == "midtrans" %>
        <tr>
          <td class="min-w-max"><strong>Response Midtrans</strong></td>
          <td>
            <details>
              <summary>Lihat response</summary>

              <pre><%= JSON.pretty_generate @order.integration_data %></pre>
            </details>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <h2 class="mt-8">Rincian</h2>

  <table>
    <thead>
      <th>Nama</th>
      <th>Harga</th>
    </thead>
    <tbody>
      <% @order.line_items.each do |order_item| %>
      <tr>
        <td><%= link_to order_item.orderable_name, product_path(order_item.orderable.slug) %></td>
        <td><%= idr order_item.orderable_price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% if Current.settings["payment_provider"] == "manual" %>
    <h2 class="mt-8">Bukti Pembayaran</h2>

    <% if @order.latest_payment_evidence&.file&.attached? %>
      <%= image_tag @order.latest_payment_evidence.file %>

      <% if @order.pending? || @order.failed? %>
        <div data-controller="modal">
          <%= button_to "Setujui", admin_order_path(@order), method: :put, params: { order: { state: "paid" } }, class: "mt-4" %>
          <button class="outline full-width danger" data-action="modal#open">Tolak</button>

          <dialog data-modal-target="modal">
            <article>
              <%= form_for [ :admin, @order ] do |f| %>
                <div>
                  <%= f.label :remark, "Alasan" %>
                  <%= f.text_area :remark, rows: 4, required: true, value: "" %>
                </div>
                <%= f.hidden_field :state, value: "failed" %>
                <%= f.submit "Tolak" %>
              <% end %>
              <button data-action="modal#close" class="outline full-width">Batalkan</button>
            </article>
          </dialog>
        </div>
      <% end %>

      <details class="mt-8">
        <summary>Lihat semua bukti pembayaran</summary>

        <% @order.payment_evidences.each do |evidence| %>
          <p class="mb-2 mt-4"><%= l evidence.created_at, format: :long %></p>
          <%= image_tag evidence.file if evidence.file.attached? %>
        <% end %>
      </details>
    <% else %>
      <p>Belum ada bukti pembayaran.</p>
    <% end %>
  <% end %>
</div>
