<%= form_for [:admin, product], html: { class: "form-layout" } do |f| %>
  <div>
    <div class="form-group" data-controller="image-preview">
      <%= f.label :featured_image %>
      <%= image_tag product.featured_image.attached? ? product.featured_image : "", data: { image_preview_target: "preview" } %>
      <%= f.file_field :featured_image, data: { action: "image-preview#perform" } %>
    </div>
  </div>
  <div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="form-group">
      <%= f.label :slug %>
      <%= f.text_field :slug, required: true %>
    </div>
    <div class="form-group">
      <%= f.label :short_description %>
      <%= f.text_field :short_description, required: true %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, style: "min-height: 300px" %>
    </div>
    <div class="form-group check-boxes">
      <%= f.label :category_ids, "Category" %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <%= b.label do %>
          <%= b.check_box %>
          <%= b.object.name %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.number_field :price, required: true %>
    </div>
    <div class="form-group">
      <%= f.label :sale_price %>
      <%= f.number_field :sale_price %>
    </div>
    <div class="grouped">
      <div class="form-group">
        <%= f.label :sale_price_starts_at %>
        <%= f.date_field :sale_price_starts_at %>
      </div>
      <div class="form-group">
        <%= f.label :sale_price_ends_at %>
        <%= f.date_field :sale_price_ends_at %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :state %>
      <%= f.select :state, Product.states.keys.map { |k| [k.to_s.humanize, k] } %>
    </div>
    <div class="form-group">
      <%= f.label :product_type %>
      <div>
        <div>
          <%= f.radio_button :productable_type, "DigitalProduct", id: "product_digital_product" %>
          <%= f.label :digital_product %>

          <%= f.fields_for :productable do |pf| %>
            <fieldset class="mb-4 mt-2">
              <legend class="px-2">Digital Product</legend>

              <div class="form-group">
                <%= pf.label :resource_type %>
                <div>
                  <%= pf.radio_button :resource_type, "file", id: "product_productable_file", checked: @product.productable&.file? %>
                  <%= pf.label :file %>

                  <div class="resource">
                    <div class="form-group mt-2">
                      <%= pf.label :resource %>
                      <% if @product.productable&.resource&.attached? %>
                        <small>File sekarang: <%= @product.productable.resource.filename.to_s %></small>
                      <% end %>
                      <%= pf.file_field :resource %>
                    </div>
                  </div>
                </div>
                <div>
                  <%= pf.radio_button :resource_type, "url", id: "product_productable_url", checked: @product.productable&.url? %>
                  <%= pf.label :url %>

                  <div class="resource">
                    <div class="form-group">
                      <%= pf.label :resource_url %>
                      <%= pf.url_field :resource_url, value: @product.productable&.resource_url %>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          <% end %>
        </div>
        <div>
          <%= f.radio_button :productable_type, "PhysicalProduct", id: "product_physical_product" %>
          <%= f.label :physical_product %>

          <%= f.fields_for :productable do |pf| %>
            <fieldset class="mb-4 mt-2">
              <legend class="px-2">Physical Product</legend>

              <span>Coming soon</span>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>

    <%= f.submit "Simpan" %>
  </div>
<% end %>
