<% title = "Pembayaran Pesanan | #{ Current.settings["site_name"] }" %>
<% description = "Pembayaran pesanan di #{ Current.settings["site_name"] }" %>

<%= content_for(:title) { title } %>
<%= content_for(:head) do %>
  <%= tag.meta name: "robots", content: "noindex" %>
  <%= tag.meta name: "description", content: description %>
  <%= tag.meta name: "og:title", content: title %>
  <%= tag.meta name: "og:description", content: description %>
<% end %>

<div class="text-center" data-controller="copy-text">
  <%= status_tag(@order) %>

  <h1 class="mt-4" style="font-size: 2rem; font-weight: 800;"><%= idr @order.total_price %></h1>
  <button style="padding: 0.25rem 0.75rem; font-size: 14px;" data-amount="<%= @order.total_price %>" data-action="copy-text#perform" class="mb-4">Salin</button>

  <% if Current.settings["payment_provider"] == "manual" && @order.unique_code.present? %>
    <p class="mb-8 text-xl">Kode unik pembayaran: <strong style="font-size: 1.25rem;"><%= @order.unique_code %></strong></p>
    <p class="text-gray text-sm mb-4">Mohon transferkan sesuai dengan nominal ditambah kode unik pembayaran.</p>
  <% end %>
  <dialog data-copy-text-target="modal">
    <article>
      <p>Nominal berhasil disalin!</p>
      <button data-action="copy-text#closeModal">Tutup</button>
    </article>
  </dialog>

  <% if @order.pending? || @order.failed? %>
    <p class="mb-8">Bayar sebelum <%= tag.strong l(@order.will_expire_at, format: :long, locale: :id) %></p>
  <% end %>

  <% if @order.pending? || @order.failed? %>
    <% if @order.failed? %>
      <p>Pesanan kamu belum bisa kami proses dikarenakan alasan sebagai berikut:</p>
      <article class="w-max mx-auto">
        <%= tag.strong @order.remark %>
      </article>
      <p class="mt-4 mb-0">Harap lakukan aksi perbaikan sesuai dengan keterangan tersebut. Mohon maaf atas ketidaknyamanan ini.</p>
      <hr class="mt-8 mb-8">

    <% end %>

    <% if @order.latest_payment_evidence && !@order.latest_payment_evidence.checked? %>
      <p class="mt-8 mb-8">Bukti pembayaran sudah berhasil diunggah. Kami akan memverifikasi pembayaran maksimal dalam 1 x 24 jam.</p>
    <% else %>
      <p class="mt-8"><a role="button" href="<%= new_order_payment_evidence_path(@order.order_id) %>">Unggah Bukti Pembayaran</a></p>
      <p class="mt-8 mb-8">Silahkan lakukan pembayaran melalui salah satu dari metode pembayaran berikut ini:</p>

      <% if Current.settings["payment_qris"].present? %>
        <div class="mx-auto">
          <article>
            <h2 class="payment-method-name">QRIS</h2>
            <%= image_tag Current.settings["payment_qris"], class: "qris" %>
          </article>

          <p class="text-xl mt-8"><strong>Cara Pembayaran</strong></p>
          <ol style="text-align: left;">
            <%
              ext = Current.settings["payment_qris"].split(".").last
              name = "#{ Current.settings["site_name"] } QRIS"
              filename = "#{ name.parameterize }.#{ext}"
            %>
            <li><%= link_to "Simpan gambar QRIS", Current.settings["payment_qris"], download: filename, title: name %> di HP Anda</li>
            <li>Buka aplikasi dompet digital/m-banking Anda</li>
            <li>Pilih fitur Scan QR atau Upload QR</li>
            <li>Upload gambar QRIS ini, lalu ikuti instruksi untuk menyelesaikan pembayaran</li>
            <li>Pastikan nominal yang ditransfer sama dengan nominal yang harus dibayarkan</li>
            <li><%= link_to "Unggah bukti pembayaran", new_order_payment_evidence_path(@order.order_id) %> setelah pembayaran berhasil dilakukan</li>
          </ol>
        </div>
      <% end %>

      <% if Current.settings["payment_account_name"].present? && Current.settings["payment_account_number"].present? %>
        <article class="mt-8" data-controller="copy-text">
          <h2 class="payment-method-name"><%= Current.settings["payment_account_name"] %></h2>
          <p style="font-size: 1.5rem; font-weight: bold;"><%= Current.settings["payment_account_number"] %></p>
          <button data-account-number="<%= Current.settings["payment_account_number"] %>" data-action="copy-text#perform">Salin</button>
          <dialog data-copy-text-target="modal">
            <article>
              <p>Nomor rekening berhasi disalin!</p>
              <button data-action="copy-text#closeModal">Tutup</button>
            </article>
          </dialog>
        </article>
      <% end %>
    <% end %>
  <% elsif @order.paid? %>
    <p>Pembayaran berhasil diverifikasi. Harap cek inbox email untuk mendapatkan akses terhadap produk yang kamu beli.</p>
    <p>Terima kasih sudah belanja di <%= tag.strong Current.settings["site_name"] %>!</p>
    <%= link_to "Kembali ke Beranda", products_path, role: "button" %>
  <% elsif @order.expired? %>
    <p>Oops! Pesanan kamu sudah kadaluarsa. Silahkan pesan lagi produk yang hendak kamu beli.</p>
  <% end %>

</div>

