<%= content_for(:title) { "Keranjang | #{ Current.settings["site_name"] }" } %>
<%= content_for :head do %>
  <%= tag.meta name: "robots", content: "noindex" %>
<% end %>

<%= render "shared/flash" %>

<div class="mb-16">
  <% if @payable&.paid? %>
    <% if @payable.is_a?(Order) %>
      <p class="flash-success mt-8">Pembelian berhasil! Harap periksa email kakak ya, kami sudah mengirimkan akses terhadap produk yang kakak beli.</p>
    <% elsif @payable.is_a?(Donation) %>
      <p class="flash-success mt-8">Support berhasil dilakukan! Terima kasih banyak ya, kak <%= @payable.name %>! Semoga sehat selalu dan banyak rezekinya, aamiin.</p>
    <% end %>
  <% end %>

  <h1>Keranjang</h1>

  <% if Current.cart.line_items.present? %>
    <table class="mb-4">
      <thead>
        <tr>
          <td>Produk</td>
          <td>Harga</td>
        </tr>
      </thead>
      <tbody>
        <% Current.cart.line_items.each do |line_item| %>
          <tr class="text-sm">
            <td>
              <%= link_to line_item.cartable.name, product_path(line_item.cartable.slug) %>
              <% if line_item.product_variant %>
                <br><small class="text-gray"><%= line_item.product_variant.name %></small>
              <% end %>
              <% if line_item.physical_product? %>
                <br>
                <%= tag.strong "x #{ line_item.quantity }" %>
              <% end %>
              <%= link_to "Hapus", cart_line_item_path(line_item), data: { turbo_method: :delete, turbo_confirm: "Hapus #{line_item.cartable.name} dari keranjang?" }, class: "text-red block mt-2" %>
            </td>
            <td><%= idr line_item.price %></td>
          </tr>
        <% end %>
        <tr>
          <td><strong>Subtotal</strong></td>
          <td><strong id="subtotal-display"><%= idr Current.cart.total_price %></strong></td>
        </tr>
      </tbody>
    </table>

    <% if @cart_recommendations.any? %>
      <section class="mt-8">
        <h2 class="text-base font-base">Kamu mungkin juga suka:</h2>
        <% @cart_recommendations.each do |product| %>
          <%= render "products/product_card_compact", product: product %>
        <% end %>
      </section>
    <% end %>

    <div class="mt-8">
      <%= link_to "Lanjut ke Checkout", new_order_path, role: "button", class: "block w-full text-center" %>
    </div>
  <% else %>
    <p>Keranjang kamu masih kosong nih. <%= link_to "Belanja sekarang", products_path %></p>
  <% end %>
</div>
