<%= content_for(:title) { "Pengaturan | #{ Current.settings["site_name"] } admin" } %>

<div>
  <%= tag.div flash[:notice], class: "flash-success mb-4" if flash[:notice] %>

  <h1>Pengaturan</h1>

  <%= form_with url: admin_settings_path, method: :put do |f| %>
    <h3>Situs</h3>

    <div class="form-group">
      <%= f.label :site_name, "Nama Situs" %>
      <%= f.text_field :site_name, value: Current.settings["site_name"] %>
    </div>

    <div class="form-group" data-controller="image-preview">
      <%= f.label :og_image, "Open Graph Image" %>
      <%= image_tag Current.settings["og_image"].present? ? request.base_url + Current.settings["og_image"] : "", data: { image_preview_target: "preview" } %>
      <%= f.file_field :og_image, data: { action: "image-preview#perform" } %>
    </div>

    <div class="form-group">
      <%= f.label :site_main_menu, "Menu Utama" %>
      <%= f.text_area :site_main_menu, style: "min-height: 40px; font-family: monospace", value: Current.settings["site_main_menu"] %>
    </div>

    <h3>Integrasi Midtrans</h3>

    <div class="form-group">
      <%= f.label :payment_api_host, "API Host" %>
      <%= f.text_field :payment_api_host, value: Current.settings["payment_api_host"] %>
    </div>

    <div class="grouped">
      <div class="form-group">
        <%= f.label :payment_client_id, "Client ID" %>
        <%= f.text_field :payment_client_id, value: Current.settings["payment_client_id"] %>
      </div>

      <div class="form-group">
        <%= f.label :payment_client_secret, "Client Secret" %>
        <%= f.text_field :payment_client_secret, value: Current.settings["payment_client_secret"] %>
      </div>
    </div>

    <%= f.submit "Simpan", class: "mt-4" %>
  <% end %>
</div>
