<%= content_for(:title) { "Email | #{ Current.settings["site_name"] } admin" } %>

<div>
  <%= tag.div flash[:notice], class: "flash-success mb-4" if flash[:notice] %>

  <h1>Email</h1>

  <%= form_with url: test_admin_emails_path, method: :post do |f| %>
    <div class="form-group">
      <%= f.label :email_address, "Alamat Email" %>
      <%= f.email_field :email_address, required: true %>
    </div>

    <%= f.submit "Kirim email test", class: "mt-4" %>
  <% end %>
</div>
