<%= content_for(:title) { "#{ @category.name } | #{ Current.settings["site_name"] }" } %>
<%= content_for :head do %>
  <%= tag.meta name: "description", content: "List produk berdasarkan kategori #{ @category.name }" %>
  <%= tag.meta name: "og:title", content: @category.name %>
  <% if Current.settings["og_image"].present? %>
    <%= tag.meta name: "og:image", content: request.base_url + Current.settings["og_image"] %>
  <% end %>
  <%= tag.meta name: "og:description", content: "List produk berdasarkan kategori #{ @category.name }" %>
<% end %>

<div>
  <h1><%= @category.name %></h1>

  <% if @products.empty? %>
    <p>Belum ada produk yang tersedia.</p>
  <% else %>
    <div class="product-layout">
      <%= render partial: "products/product_card", collection: @products, as: :product %>
    </div>
  <% end %>
</div>
