<%= content_for(:title) { "Jual produk digital dan produk fisik | #{ Current.settings["site_name"] }" } %>
<%= content_for :head do %>
  <%= tag.meta name: "description", content: "Jual produk digital dan produk fisik" %>
  <%= tag.meta name: "og:title", content: Current.settings["site_name"] %>
  <% if Current.settings["og_image"].present? %>
    <%= tag.meta name: "og:image", content: request.base_url + Current.settings["og_image"] %>
  <% end %>
  <%= tag.meta name: "og:description", content: "Jual produk digital dan produk fisik" %>
<% end %>

<div>
  <h1 class="mb-8">Produk Terbaru</h1>

  <% if @products.empty? %>
    <p>Belum ada produk yang tersedia.</p>
  <% else %>
    <div>
      <% @products.each do |product| %>
        <% if product.compact_list? %>
          <%= render "products/product_card_compact", product: product %>
        <% else %>
          <%= render "products/product_card", product: product %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
