<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <% font_files.each do |font_file| %>
      <link rel="preload" href="<%= font_file %>" as="font" type="font/ttf" crossorigin="anonymous">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <% favicon = Setting.site_favicon %>
    <% if favicon.present? %>
      <link rel="shortcut icon" type="<%= favicon.file.content_type %>" href="<%= favicon.value %>">
      <link rel="apple-touch-icon" href="<%= favicon.value %>">
    <% end %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container-md px-4">
      <heading>
        <div class="flex justify-between items-center mb-4">
          <%= link_to Current.settings["site_name"], root_path, class: "site-title" %>
          <% cart_count = Current.cart.line_items.count %>
          <%= link_to cart_path, class: "cart flex items-center gap-1 relative" do %>
            <% if cart_count.positive? %>
              <span class="cart-filled-indicator"></span>
            <% end %>
            <%= icon "shopping-cart", class: "cart-icon" %>
          <% end %>
        </div>

        <nav class="leading-loose main-menu">
          <%= render_markdown_as_html Current.settings["site_main_menu"] %>
        </nav>
      </heading>

      <div class="mt-8">
        <%= yield %>
      </div>
    </main>

    <% if Rails.env.production? %>
      <script src="https://stats.adipurnm.my.id/script.js" data-website="<%= URI.parse(request.base_url).host %>"></script>
    <% end %>

    <footer class="text-sm text-center mt-8">
      <p>
        <%= link_to "Syarat dan Ketentuan", Current.settings["site_terms_and_conditions_url"], class: "mr-2" %>
        <%= link_to "Refund Policy", Current.settings["site_refund_policies_url"] %>
      </p>
      <p>&copy <%= Current.settings["site_name"] %> <%= Time.now.year %></p>
    </footer>
  </body>
</html>
