<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="preload" href="/fonts/PTSerif-Regular.ttf">
    <link rel="preload" href="/fonts/PTSerif-Bold.ttf">
    <link rel="preload" href="/fonts/PTSerif-Italic.ttf">
    <link rel="preload" href="/fonts/PTSerif-BoldItalic.ttf">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <% favicon = Setting.site_favicon %>
    <% if favicon.present? %>
      <link rel="shortcut icon" type="<%= favicon.file.content_type %>" href="<%= favicon.value %>">
      <link rel="apple-touch-icon" href="<%= favicon.value %>">
    <% end %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container px-4">
      <heading>
        <div class="flex justify-between items-center">
          <h2><%= link_to Current.settings["site_name"], root_path, class: "site-title" %></h2>
          <% cart_count = Current.cart.line_items.count %>
          <%= link_to cart_path, class: "cart flex items-center gap-1" do %>
            <% if cart_count.positive? %>
              <span class="text-red">(<%= cart_count %>)</span>
            <% end %>
            <%= icon "shopping-cart", class: "cart-icon" %>
          <% end %>
        </div>

        <nav class="leading-loose main-menu">
          <%= render_markdown_as_html Current.settings["site_main_menu"] %>
        </nav>
      </heading>

      <div class="mt-8">
        <%= yield %>
      </div>
    </main>

    <% if Rails.env.production? %>
      <script src="https://stats.adipurnm.my.id/script.js" data-website="<%= URI.parse(request.base_url).host %>"></script>
    <% end %>
  </body>
</html>
